<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务刷新</title>
    <script type="text/javascript">
        //发送请求函数
        function sendRequest() {
            var XMLHttpReq;
            if (window.XMLHttpRequest) { //Mozilla 浏览器
                XMLHttpReq = new XMLHttpRequest();
            }
            else if (window.ActiveXObject) { // IE浏览器
                try {
                    XMLHttpReq = new ActiveXObject("Msxml2.XMLHTTP");
                } catch (e) {
                    try {
                        XMLHttpReq = new ActiveXObject("Microsoft.XMLHTTP");
                    } catch (e) {
                    }
                }
            }
            var url = "myFresh.do?t=" + new Date().getTime();
            XMLHttpReq.open("GET", url, true);
//            XMLHttpReq.setRequestHeader('Content-Type', 'application/json;charset=utf-8');
            XMLHttpReq.onreadystatechange = function () {
                var responseData = XMLHttpReq.responseText;
                var json = eval('(' + responseData + ')');
                alert(responseData+"    "+json.result);
                if (XMLHttpReq.readyState == 4 && XMLHttpReq.status == 200) { // 判断对象状态
                    var times = json.result;
                    document.getElementById("times").innerHTML = times;
//                        alert(responseData + ":" + json.result);
//                    window.location.href = "views/ok.jsp";
                }
                XMLHttpReq.send();  // 发送请求
            };
        }
        setInterval('sendRequest()', 3000); //指定1秒刷新一次
        //        setTimeout("location.href='hello.do'",2000)
    </script>
</head>
<body>
<div style="margin: 60% auto">
<span id="times" style="size: 250px"></span><label style="size: 250px">次</label>
</div>
</body>
</html>